@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}
.navContainer {
  position: fixed;
  right: 0;
}
.navContent p {
  display: inline-block;
  color: white;
}
.headerContent {
  position: relative;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/02/a1/1e/02a11ea2c9c21536d0f6a6fee2a47517.jpg");
  height: 100vh;
  width: 100vw;
  border-bottom: 5px brown solid;
  /*display: flex;
  /*justify-content: center;*/
}
.headerLogoContainer {
  display: flex;
  justify-content: center;
}
.headerLogo {
  margin-top: 5%;
  height: 50vh;
  /*width: 10vw;*/
  border-radius: 100%;
  box-shadow: 18px 7px 53px 1px black;
}
.headerButtonLinkContainer {
  display: flex;
  justify-content: center;
}
.headerButtonLink {
  position: absolute;
  bottom: 10%;
}
.aboutContainer {
  width: 100%;
  background-color: #d8c6b4;
  text-align: center;
  padding-bottom: 10%;
}
.aboutContainer h1 {
  font-weight: bold;
  margin-top: 0;
  padding-top: 10%;
}
.projectContainer {
  background-color: grey;
}
.aboutStatementContainer {
  margin-left: 10%;
  margin-right: 10%;
  width: 75%;
}
.aboutDescription {
  /*float: left;*/
  max-width: 500px;
  height: 100%;
}
.glyphicon-menu-down {
  border: 3px white solid;
  color: white;
  /*position: absolute;
  bottom: 10%;*/
  top: inherit;
  border-radius: 30px;
  padding: 15px;
  transition: all 200ms;
}
.glyphicon-menu-down:hover {
  border-radius: 5px;
  color: rgb(135, 252, 235);
  border: 3px rgb(135, 252, 235) solid;

}
.projectContainer h1 {
  font-weight: bold;
  margin-top: 0;
  text-align: center;
  padding-top: 10%;
  /*border-bottom: 2px solid;*/
}
hr {
  width: 401px;
  color: #333;
}
.projectContent {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 30px;

}

.projectCard {
  border-radius: 10px;
  margin: 5px;
  height: 100%;
  width: 100%;
  text-align: center;
  /*overflow: hidden;*/
  transition: all 500ms;
  flex-wrap: wrap;
}
.boxShadow {
  box-shadow: 18px 7px 53px 1px black;

}
.gdandbLogo img {
  width: 100%;
}
.gdandbTree {
  background-image: url("/assets/gdandbTree.png");
  background-position: center;
  background-size: 100% 100%;
  height: 400px;
  width: 100%;
}
.shooters-log {
  background-image: url("/assets/shooters-login.png");
  background-position: center;
  background-size: 100% 100%;
  height: 400px;
  width: 100%;

}
.shooters-log-be {
  background-image: url("/assets/shooters-log-be1.png");
  background-position: center;
  background-size: 100% 100%;
  height: 400px;
  width: 100%;

}
.shooters-log-be-logo {
  background-color: #282c34;
}
.shooters-log-be-logo img{
  width: 50%;
}
.shooters-logo img {
  width: 50%;
  background-color: #07b0e8;
}
.shooters-logo {
  background-color: #07b0e8;
}
.projectDescription {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
}
.projectDescription p {
  font-weight: bold;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
  margin-bottom: 0;
  opacity: 0;
  transition: all 500ms;
  height: 0;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.projectDescription p a {
  color: white;
  transition: all 500ms;

}
.projectDescription p a:hover {
  color: #d8c6b4;

}
.fullOpacity {
  opacity: 1;
}
.projectDescriptionFA {
  font-size: 50px;
  margin-top: 20px;
  padding: 5px;
}
.contactBtns p {
  font-size: 50px;
  margin-top: 20px;
  padding: 5px;
}
.contactBtnsFA {
  font-size: 50px;
  margin-top: 20px;
  padding: 5px;
}
.footerContainer {
  width: 100%;
}
.contactBtns {
  display: flex;
  justify-content: space-between;
}
/*@media only screen and (min-width: 601px) {
  .projectContent {
      flex-direction: column;
      justify-content: center;
  }
}*/

@media only screen and (max-width: 600px) {
    .projectContent {
        flex-direction: column;
        justify-content: center;
    }
    /*.projectCard {
      margin: 10px 0;
      width: 100%;
    }
    .headerLogo {
      height: 99vw;
    }
    .projectDescription p {
      font-size: 18px;
    }*/
}
